.epice{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.epice-contener{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.section-photo{
    background: #02341BB2;
    border-radius: 3.5rem;
    width: 60%;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
   
}

.section-photo img{
    width: 100%;
}
.cummin img{
    width: 90%;
}
@media (max-width: 768px){
    .epice-contener{
        flex-direction: column;
        gap: 18rem;
    }
    .section-photo{
        width: 50%;
    }
}


.info {
    color: black;
    font-size: 1.7rem;
    text-align: center;
}
.price p{
    text-align: center;
    
}
.info h3 {
    color: black;
    text-align: center;
}