.decouverte{
    margin-top: 6rem;
}
.container{
    display: flex;
    flex-direction: row;
    
}
.produit img{
    width: 100%;

}
.image{
    display: flex;
    background: #02341BB2;
    width: 100%;
    height: 50vh;
    border-radius: 3rem;
    margin-bottom: 2rem;
}
.description{
    line-height: 3.5rem;
}
.produit-text strong{
    font-size: 1.4rem;
    
}